table{ 
    text-align: center;
    background-color: rgb(245, 245, 245);
    display: inline-table;
    width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 50%;
}
tbody{
    font-weight: bold;
}
td{
    height: 28px;

}
body{
    font-style: italic;
    text-align: center;
}
 thead{
    font-weight: 300;
    width: max-content;
    text-align: center;

 }
 h2 {
    background-color: green;
    border-radius: 20%;
  }
  
  h1 {
    background-color: lightblue;
  }
  
  p {
    background-color: yellow;
  }